@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<br>

<p>The application performs CRUD operations <b>(Create, Read, Update, and Delete)</b> for a Vehicle
(automobile) entity.</p>

<p>Each entry of the vehicle can be viewed separatly by their id.</p>

<p>New vehicles can be added to the database.</p>

<p>The database has 10 sample entries for demonstration.</p>

<p>Each entry of the vehicle can be updated.</p>

<p>Each entry of the vehicle can be deleted.</p>

<p>Filtering is provided based on car maker and search is implemented based on models.</p>

<p>Validation is checked when new vehicle is added. Make and Model are required and the year range is between 1950 and 2050.</p>

<p>MVC architectural pattern separates the app into three main components: Model, View, and Controller.</p>