@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<br />

<address>
<h3>Grigoli Vashakidze</h3><br />
5595 Lindo Paseo, San Diego, CA 92115<br />
Mobile: (619) 394-0458 <br />
E-mail: gvashakidze@sdsu.edu<br />

</address>


