@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<br />

<address>
<h3>Grigoli Vashakidze</h3><br />
5420 55th Street, San Diego, CA 92115<br />
Mobile: +1 (619) 535-1510 <br />
E-mail: gvashakidze@sdsu.edu<br />

</address>


